{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="author" content="https://github.com/syahrizaldev">
	<title>Mega Menu with Vanilla JavaScript</title>
	<link rel="shortcut icon" type="image/x-icon" href="./assets/favicon.ico">
	<link rel="stylesheet" type="text/css" href="{% static 'css3/reset.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css3/style.min.css' %}">
	<link rel="stylesheet" type="text/css" href="{% static 'css3/ionicon.min.css' %}">
</head>

<body>
	<!-- Header Section -->
	<header class="header">
		<div class="container">
			<div class="wrapper">
				<div class="header-item-left">
					<a href="./index.html" class="brand">PROFILE</a>
				</div>
				<!-- Navbar Section -->
				<div class="header-item-center">
					<div class="overlay"></div>
					<nav class="menu" id="menu">
						<div class="menu-mobile-header">
							<button type="button" class="menu-mobile-arrow"><i class="ion ion-ios-arrow-back"></i></button>
							<div class="menu-mobile-title"></div>
							<button type="button" class="menu-mobile-close"><i class="ion ion-ios-close"></i></button>
						</div>
						<ul class="menu-section">
							<li class="menu-item"><a href="#">Home</a></li>

							<li class="menu-item"><a href="{% url 'addshop'  %}">Create shop</a></li>
							<li class="menu-item"><a href="{% url 'extshop'  %}">Add to existing shop</a></li>
							<li class="menu-item"><a href="{% url 'myorders'  %}">My orders</a></li>
							<li class="menu-item"><a href="{% url 'ordersplaced'  %}">Orders placed</a></li>
						</ul>
					</nav>
				</div>

				<div class="header-item-right">
					<a href="#" class="menu-icon"><i class="ion ion-md-search"></i></a>
					<a href="#" class="menu-icon"><i class="ion ion-md-heart"></i></a>
					<a href="#" class="menu-icon"><i class="ion ion-md-cart"></i></a>
					<button type="button" class="menu-mobile-toggle">
						<span></span>
						<span></span>
						<span></span>
						<span></span>
					</button>
				</div>
			</div>
		</div>
	</header>

	<div class="container" style="margin-top: 100px;">
<!--		<div>{% for message in messages %}-->
<!--				<h4>{{message}}</h4>-->
<!--				{% endfor %}-->
<!--    	</div>-->

		<div>
			<div style="padding-top:40px">
				<center><h2>CHOOSE A SHOP TO ADD PRODUCTS</h2></center>
			</div>
			<div style="padding-top:32px;"  >
				{% if viewshop %}
				{% for i in viewshop %}
				<div>

					<a href="{% url 'categcreation' i.id %}">	<button >{{i.shopname|truncatechars:10}}</button></a>
					<br><br>




				</div>
				{% endfor %}
				{% else %}
				<center><h6>NO SHOPS ADDED</h6></center>
				{% endif %}

			</div>


		</div>
	</div>


	<script defer src="{% static 'js3/script.js' %}"></script>
</body>

</html>






<!--<!DOCTYPE html>-->
<!--<html lang="en">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->
<!--</head>-->
<!--<body>-->
<!--{% for i in viewshop %}-->
<!--<div>-->

<!--        <a href="{% url 'categcreation' i.id %}"	>	<button class="button button2" >{{i.shopname}},{{i.id}}</button></a>-->

<!--</div>-->
<!--{% endfor %}-->

<!--</body>-->
<!--</html>-->